body{
    margin: 0px;
  }

  .container{
    width: 100%;
    height: 100%;

  }

  .titleBox{
    background-color: black;
    text-align: center;
    width: inherit;
    margin-top: -50px;
  }

  .titleLogo{
    float: left;
    width: 100px;
    height: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
  }

  .titleDescriptionAndNavigationBox{
    background-image: linear-gradient(to bottom, #000000 0%, #303027 100%);
    width: inherit;
    margin-top: -50px;
  } 

  .episodeBox{
    background: url('img/RaM_bgd.jpg') no-repeat right;
    background-size: cover;
    width: inherit;
    height: 720px;
    box-sizing: content-box;
    margin-top: -30px;
    position: absolute; 
  }

  .episodeCard {
    color: white;
    width: 600px;
    height: 500px;
    background: lightslategray;
    border-radius: 5%;
    border: yellowgreen;
    border-style: inset;
    overflow: auto;
    position: relative;
    right: 150px;
    top: 100px;
    opacity: 80%;
    padding: 20px;
    float: right;
  }

  p.mainTitle{
    font-size: 50px;
    color:white;
    font-style: italic;
    display: flex;
    justify-content: center;
  }

  p.numberOfEpisodes{
    color: whitesmoke;
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
  }

  p.titleDescription{
    color: white;
    font-size: 15px;
    font-style: italic;
    padding-left: 20px;
    text-align: left;
  }

  .cardInfo{
    text-align: center;
    position: relative;
    font-size: 20px;
  }

  li.characters {
    color: inherit;
    float: left;
    font-style: italic;
    margin-left: 5px;
  }

  p.episodeDescription{
    font-size: 12px;
    float: left;
    font-style: italic;
  }

  .episodeImage{
    height: 200px;
    width: 500px;
    margin-left: 44px;
    margin-left: 30px;
    border: inherit;
    border-style: inherit;
  }

  .episodeButtonList{
    padding-left: 50px;
    padding-top: 30px;
    float: left;
  }

  .episodeButtonList button{
    display: block;
    color: black; 
    border: 2px;
    border-style: inset;
    border-color: yellowgreen;
    border-radius: 15px;
    margin-block: 10px;
    cursor: pointer;
    width: 200px;
  }

  .episodeButtonList button:hover {
    background-color: yellowgreen;
    color: white;
  }

  .loader {
    margin: 100px auto;
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #0dd98b, 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.5), -1.8em -1.8em 0 0em rgba(13,217,139, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.7), 1.8em -1.8em 0 0em #0dd98b, 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.5), 1.8em -1.8em 0 0em rgba(13,217,139, 0.7), 2.5em 0em 0 0em #0dd98b, 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.5), 2.5em 0em 0 0em rgba(13,217,139, 0.7), 1.75em 1.75em 0 0em #0dd98b, 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.5), 1.75em 1.75em 0 0em rgba(13,217,139, 0.7), 0em 2.5em 0 0em #0dd98b, -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.5), 0em 2.5em 0 0em rgba(13,217,139, 0.7), -1.8em 1.8em 0 0em #0dd98b, -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.5), -1.8em 1.8em 0 0em rgba(13,217,139, 0.7), -2.6em 0em 0 0em #0dd98b, -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.5), -2.6em 0em 0 0em rgba(13,217,139, 0.7), -1.8em -1.8em 0 0em #0dd98b;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #0dd98b, 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.5), -1.8em -1.8em 0 0em rgba(13,217,139, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.7), 1.8em -1.8em 0 0em #0dd98b, 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.5), 1.8em -1.8em 0 0em rgba(13,217,139, 0.7), 2.5em 0em 0 0em #0dd98b, 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.5), 2.5em 0em 0 0em rgba(13,217,139, 0.7), 1.75em 1.75em 0 0em #0dd98b, 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.5), 1.75em 1.75em 0 0em rgba(13,217,139, 0.7), 0em 2.5em 0 0em #0dd98b, -1.8em 1.8em 0 0em rgba(13,217,139, 0.2), -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.5), 0em 2.5em 0 0em rgba(13,217,139, 0.7), -1.8em 1.8em 0 0em #0dd98b, -2.6em 0em 0 0em rgba(13,217,139, 0.2), -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.5), -1.8em 1.8em 0 0em rgba(13,217,139, 0.7), -2.6em 0em 0 0em #0dd98b, -1.8em -1.8em 0 0em rgba(13,217,139, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(13,217,139, 0.2), 1.8em -1.8em 0 0em rgba(13,217,139, 0.2), 2.5em 0em 0 0em rgba(13,217,139, 0.2), 1.75em 1.75em 0 0em rgba(13,217,139, 0.2), 0em 2.5em 0 0em rgba(13,217,139, 0.2), -1.8em 1.8em 0 0em rgba(13,217,139, 0.5), -2.6em 0em 0 0em rgba(13,217,139, 0.7), -1.8em -1.8em 0 0em #0dd98b;
    }
  }
  .pageButtonGroup :first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: yellowgreen;
  }

  .pageButtonGroup :last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: yellowgreen;
  }

  .pageButton {
    float: left;
    position: relative;
    left: 50px;
    bottom: 10px;
    width: 30px;
    border-color: yellowgreen;
  }
  
  .currentPage {
    background-color:yellowgreen;
    border: 1px solid darkgreen; 
  }

  .episodeNavigationBar {
    position: absolute;
    bottom: 0;
    width: inherit;
  }

  .next{
    background-color: green;
    color: white;
    margin-left: 25px;
    float: left;
    position: relative;
    left: 50px;
    bottom: 10px;
    width: 30px;
    border-style: inset;
    border-color: yellowgreen;
    border-radius: 15px;
    cursor: pointer;
  }

  .prev{
    background-color: green;
    color: white;
    margin-right: 25px;
    float: left;
    position: relative;
    left: 50px;
    bottom: 10px;
    width: 30px;
    border-style: inset;
    border-color: yellowgreen;
    border-radius: 15px; 
    cursor: pointer;
  }

  .highlight{
    background-color: yellowgreen;
    color: white;
  }

  .searchInput {
    font-size: 20px;
    float: right;
    position: absolute;
    top: 30px;
    padding-left: 35px;
    right: 150px;
    width: 560px;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: yellowgreen;
    border-style: double;
  }

  .searchButton {
    background-image: url(img/RaM_searchIcon.png);
    background-position: 3px 1px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    float: right;
    position: absolute;
    top: 30px;
    padding-left: 35px;
    right: 750px;
    height: 36px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: yellowgreen;
    border-style: double;
    cursor: pointer;
  }

  .pageHighlight {
    background-color: yellowgreen;
    color: white;
  }